* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: burlywood;
    color: white;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 20px;
}

.nav-links a {
    color: white;
    text-decoration: none;
}

.hamburger {
    display: none;
    font-size: 24px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}

main{
    background-color: pink;
    flex-grow: 1;
}

@media (max-width: 767px) {
    .hamburger {
        display: block; 
    }

    .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: gray;
        position: absolute;
        top: 60px;
        left: 0;
        padding: 1rem 0;
        text-align: center;
    }

    .nav-links.active {
        display: flex;
    }
    main{
        background-color: lightgreen;
    }
}